<div class="fieldset" data-bind="visible: allowGoogle">
	<h2 class="subtitle" data-i18n="SETTINGS/SERVICES_GOOGLE_DRIVE" data-bind="i18n: 'text'"></h2>
	<div class="hint" data-i18n="SETTINGS/SERVICES_GOOGLE_DRIVE_HINT" data-bind="i18n: 'text'"></div>
	<div class="buttons" style="text-align: left;">
		<span class="button" data-bind="click: onGoogleSignInClick">
			<span data-i18n="SETTINGS/SERVICES_BUTTON_ENABLE" data-bind="i18n: 'text', visible: !googleConnected()"></span>
			<span data-i18n="SETTINGS/SERVICES_BUTTON_DISABLE" data-bind="i18n: 'text', visible: googleConnected()"></span>
		</span>
	</div>
</div>
